/* General CSS Starts */

body{
    background-color: #1e272e;
    color: white;
    font-family: 'ABeeZee', sans-serif;
}

/* General CSS Ends */

/* ==================================================================== */

/* Header Section CSS Starts */

.header-container{
    /* background-image: url(img/background-pic.jpg); */
    background-image: url(img/background-image-2.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-div{
    color: white;
}

.header-title{
    /* color: #FF5E19; */
    color: #ff4757;
    font-size: 70px;
    font-family: 'kalam', cursive;
}

/* Header Section CSS Ends */

/* ==================================================================== */